#data {
    margin: 5%;
    padding: 5%;
    background-color: var(--white);
}

.form-control, label, #area-senha {
    margin: 1% 5%;
    width: 90%
}

.buttons, #sides {
    grid-template-columns: auto auto
}

.buttons {
    justify-content: center
}