#data {
    margin: 5% 10%;
    padding: 5%;
    background-color: var(--white);
    min-height: 100vh;
}

.form-control, label, #area-senha {
    margin: 1% 5%;
    width: 90%
}

.buttons {
    grid-template-columns: auto auto;
}

.buttons {
    justify-content: center
}