* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: max(95%, 1.3vw);
}
:root {
    --black: #000;
    --white: #ddd;
    --gray: hsl(0, 0%, 81%);
    --blue: #07bf;
    --light-blue: #07df;
    --yellow: #ffe600;
    --red: #d00;
}
body {
    display: grid;
    max-height: 100vh;
    background-color: var(--gray);
}
section {
    padding: 4rem 2%;
}
a {
    color: var(--black);
    text-decoration: none;
    display: block;
    clear: both
}
a:hover {
    color: #3483fa;
}
#data {
    padding: 10px;
}
.buttons, #sides, footer {
    display: grid;
    gap: 20px
}
#areaAllProducts {
    padding: 30px 2%;
    padding-bottom: 0px;
    background-color: var(--gray);
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        color: #3483fa;
        background-color: transparent;
        border-color: transparent;
    }
}