:root {
    --black: #000;
    --white: #f3f3f3;
    --gray: hsl(0, 0%, 81%);
    --blue: #07bf;
    --light-blue: #07df;
    --yellow: #ffe600;
    --red: #d00
}

body {
    min-height: 100vh;
    background-color: var(--gray);
    margin: 0px;
    font-size: max(100%, 1.3vw)
}

a {
    color: var(--black);
    text-decoration: none;
    display: block;
    clear: both
}

.nav-link, #data {
    margin: 10px;
}

.buttons, #sides, footer {
    display: grid;
    gap: 20px
}
