:root {
    --black: #000;
    --white: #fff;
    --gray: hsl(0, 0%, 43%);
    --light-gray: #bbb;
    --blue: #07bf;
    --light-blue: #07df;
    --yellow: #cc0;
    --red: #d00
}

body {
    margin: 0px;
    font-size: max(100%, 1.3vw)
}

a {
    color: var(--black);
    text-decoration: none;
    display: block;
    clear: both
}

.nav-link, #data {
    margin: 10px;
}

.buttons, #sides, footer {
    display: grid;
    gap: 20px
}
