.store {
    display: flex;
    flex-direction: row;
    background-color: var(--yellow);
    height: 25%;
    z-index: 99
}

.nav-brand {
    max-height: 4rem
}

#search {
    max-width: 50%;
}

.nav-link {
    margin: 5px;
    color: var(--black);
    text-decoration: none
}

.nav-link:hover {
    color: var(--white)
}