.store {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--yellow);
    height: 70px;
    width: 100%;
    z-index: 99
}
.nav-brand {
    max-height: 4rem
}
#search {
    width:50%;
}
.store {
    .link {
        padding: 0px 10px;
    }
}