.product_box {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    padding: 1%;
    gap: 0px 40px;
    margin-bottom: 15px;
    border-radius: 4px;
}
.product_box img {
    width: 40%;
    height: 50vh;
    object-fit: cover;
}
.price {
    font-size: 120%;
}