#product_grid {
    position: relative;
    margin: 5% 0%;
    left: 30%;
    width: 70%;
}
.product_box {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    padding: 1%;
    gap: 0px 2%;
    margin-bottom: 15px;
    border-radius: 4px;
}
.product_img {
    width: 50%;
    height: 15rem;
    object-fit: cover;
    object-position: bottom;
}
.price {
    font-size: 120%;
}