#product_box {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    padding: 40px 1%;
    gap: 20px;

    h4 {
        font-size: 90%;
    }
    h4:hover {
        color: cadetblue;
    }
    img {
        max-width: 50%;
    }
}
@media (max-width:800px) {
    #product_box{
        justify-content: center;
        flex-wrap: wrap;

        img {
            min-width: 100%;
        }
    } 
}
.price {
    font-size: 120%;
}
#buy {
    background-color: rgb(3, 104, 255);
    padding: 10px 20%;
    border-radius: 10px;
    color: white;
}
#buy:hover {
    background-color: rgb(0, 94, 218);
}