#product_box {
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    min-height: 100dvh;
    min-width: 100dvw;
    padding: 6rem 0rem 2rem 1%;
    gap: 20px;

    h4 {
        font-size: 90%;
    }
    h4:hover {
        color: cadetblue;
    }   
}
@media (max-width:4000px) {
    img {
        min-height: 100%;
    }
}
@media (max-width:700px) {
    #product_box{
        flex-wrap: wrap;
        gap: 5px;
    }
    img {
        min-height: 50%;
    }
}
.product_img:hover {
    transform: scaleY(1.1);
}
.price {
    font-size: 120%;
}
#buy {
    background-color: rgb(3, 104, 255);
    padding: 10px 20%;
    border-radius: 10px;
    color: white;
}
#buy:hover {
    background-color: rgb(0, 94, 218);
}